config.json

.venv/**
**/__pycache__/**
data/**
logs/**
scrape.bat
writer.py
translator.py
optimizer.py
optimizer_worker.py
todo.py
todo_worker.py
translator.py
translator_worker.py
references.py
sections.py
abstract.py
runner/**
